@import 'tailwindcss';

* {
  box-sizing: border-box;
}

input,
textarea,
select {
  color: #111827;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111827;
}

.rbc-month-view {
  border-top-width: 0 !important;
  border-inline-width: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  overflow: hidden !important;
}

.rbc-month-header {
  height: 40px !important;
  background-color: #efefef !important;
}

.rbc-header {
  align-content: center !important;
}

.rbc-header + .rbc-header {
  border-left: 0 !important;
}

.rbc-today {
  background-color: #f3faff !important;
  border-left-color: #2b4bffde !important;
  border-top-color: #2b4bffde !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
}

.rbc-date-cell {
  text-align: start !important;
  padding-right: 0 !important;
  padding-left: 5px !important;
  padding-top: 3px !important;
}

.rbc-now button {
  color: #2b4bffde !important;
}

.rbc-event {
  background-color: #f0f0fe !important;
}

.rbc-event-content {
  color: #7b7df3;
  font-size: 12px;
}

.rbc-month-row {
  border-radius: 0 !important;
}

.rbc-day-bg {
  border-radius: 0 !important;
}
